* {
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    background-color: rgba(43, 88, 211, 0.808);
    margin: 100px;
}

.main-container {
    background-color: #fff;
    margin: auto;
    padding: 15px;
    width: 500px;
    text-align: center;
    border-radius: 30px;
    height: 280px;
    transition: height 0.5s;
}
.main-container.active{
    height: 600px;
}

h2{
    font-size: 25px;
}

p{
    color: #3d3d3d;
    font-size: 14px;
}


input{
    outline: none;
    padding: 10px 10px;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    margin-bottom: 15px;
}

#btn{
    color: #fff;
    background-color: rgba(43, 88, 211, 0.808);
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    margin-bottom: 15px;
    opacity: 0.9;
    transition: 0.4s;
}

#btn:hover{
    opacity: 1;
}

#QRcode{
    opacity: 0;
    transition: 0.5s;
}

.main-container.active #QRcode{
    opacity: 1;
}